@import "../variables.scss";

#home-main {
	padding-bottom: 8em;
  margin-top: 100vh;
	min-height: 100vh;
	z-index: 10;
}

.btn-close {
	position: absolute;
	right: 0;
}

#home-hero {
	background-color: $greenery;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  
  position: fixed;
	height: 100vh;
  width: calc(100vw - #{$sidebarWidth});
	top: 0;
	left: $sidebarWidth;
	z-index: -100;
}

#home-play {
	position: fixed;
	font-size: 1.25em;
	right: 0;
	bottom: 0;
}

#home-play>svg {
	margin-right: 0.5em;
}

/*** VIDEO ***/
.video-wrapper {
	position: absolute;
	top: -100vh;
	left: $sidebarWidth;
	overflow: hidden;
	width: calc(100% - #{$sidebarWidth});
	height: 100vh;
	background: $black;
	display: none;
	align-items: center;
}
  
video {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
  
/* Video controls */
.video-controls {
	position: absolute;
	bottom: -45px; /* height of controls container */
	left: 50%;
	padding: 7px;
	background: rgba(255, 255, 255, .35);
	transform: translateX(-50%) translateX(-7px);
	transition: bottom .25s ease-in;
	display: flex;
}
  
.video-wrapper:focus > video + .video-controls,
.video-wrapper:hover > video + .video-controls {
	bottom: 12px;
	z-index: 2;
}
  
/* Video controls */
.btn {
	padding: 5px 0;
	width: 31px;
	font-size: 18px;
	text-align: center;
	color: $daisy;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: opacity .175s ease-in;
}

.btn:focus {
	outline: 0;
}

.btn:hover {
	opacity: .25;
}

#promo-video.play {
	display: block;
	top: 0;
}

#promo-video>button {
	position: absolute;
	color: $daisy;
	float: right;
	right: 0.25em;
	font-size: 28px;
	font-weight: bold;
	padding: 0;
	margin: 0.5em;
	background: none;
	z-index: 1;
}
  
#promo-video>button:hover,
#promo-video>button:focus {
	color: rgba(255, 255, 255, .35);
	text-decoration: none;
	cursor: pointer;
}
  
/* Progress bar */
.progress-bar {
	position: relative;
	z-index: 100;
}

.progress-bar-fill {
	width: 0;
	height: 4px;
	background-color: $secondaryColor;
	transition: width .35s linear;
}

@media screen and (max-width: $sm) {
	#home-hero,
	.video-wrapper {
    width: 100vw;
    left: 0;
	}
}