@import '../variables.scss';

#music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

.music-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 928px;
}

.music-header>div {
  padding: 3em;
}

.music-desktop {
  display: initial;
  margin: 1em;
}

.music-mobile {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  margin: 0 1em;
}

.gallery>div {
  margin: 1em;
  background: $black;
  position: relative;
}

.gallery>div>iframe {
  z-index: 2;
  position: relative;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: $lg) {
  #music {
    align-items: flex-start;
  }
}

@media screen and (max-width: $md) {
  #music {
    align-items: center;
  }

  .music-desktop {
    display: none;
  }
  
  .music-header {
    flex-direction: column;
    max-width: $xs;
  }

  .music-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery {
    display: block;
    margin: 1em;
    width: initial;
  }

  .gallery>div {
    margin: 1em 0 2em;
    max-width: $xs;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: $sm) {
  .music-mobile {
    margin-top: 60px;
  }
}

@media screen and (max-width: $xs) {
  #music,
  .music-mobile {
    background: $black;
  }

  #music>* {
    color: $daisy;
  }

  .music-header,
  .music-header iframe {
    width: 100%;
  }

  .gallery {
    margin: 0;
  }
}