@import "variables.scss";

body {
  margin: 0;
  font-family: $primaryFontFamily;
  color: $primaryColor;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: $headingFontFamily;
}

a {
  color: $linkColor;
}

main {
  background: #FFF;
}

img {
	border-radius: 0.5em;
  width: 100%;
  height: calc(100vw - 2em);
  max-width: 360px;
  max-height: 360px;
}

p {
  text-align: center;
}

label {
  font-style: italic;
}

/* Buttons styles start */
button {
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: $linkColor;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #ccc;
}

button:focus {
  outline: 1px solid transparent;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
/* Button styles end */

section.center-vert {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#album-modal {
  position: fixed;
  top: 0;
  left: $sidebarWidth;
  z-index: 100;
  height: 100vh;
  width: calc(100vw - #{$sidebarWidth});
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background: $modalOverlay;
  transition: opacity 250ms ease-in-out;
}

#album-modal.show {
  display: flex;
  opacity: 1;
  animation: modal 250ms ease-in-out;
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#album-modal section {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: 600px;
  color: $daisy;
  background: url("https://theguests.band/img/mocktail_ep.png") $black;
  padding: 24px;
  -webkit-box-shadow: inset 0px 50px 100px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 50px 100px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 50px 100px 0px rgba(0,0,0,0.75);
}

#container {
  margin-left: $sidebarWidth; 
  width: calc(100% - #{$sidebarWidth});
}

#mobile-header {
  display: none;
  height: $mobileHeaderHeight;
}

#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: -10;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

#overlay.show {
  background: $modalOverlay;
  z-index: 10;
}

#overlay.hide {
  background: rgba(0, 0, 0, 0);
  z-index: -10;
}

#root {
  display: flex;
  flex-direction: row;
  position: relative;
}

#site-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#site-nav>a {
  padding: 0.5em 1em;
  text-decoration: none;
}

#site-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $sidebarWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background: $sidebarBackground;
  color: $sidebarColor;
}

#site-sidebar>h1 {
  font-size: 2em;
  margin-top: 0;
}

#site-sidebar>h1>a {
  color: $sidebarColor;
  text-decoration: none;
}

#site-sidebar>footer {
  position: absolute;
  bottom: 0.5em;
  color: $greenery;
}

#social {
  margin-top: 0.5em;
}

#social>* {
  padding: 0.5em;
  color: $linkColor;
  cursor: pointer;
}

@media screen and (min-width: $lg) {

}

@media screen and (max-width: $lg) and (min-width: $sm) {
  section.center-vert {
    width: calc(100vw - #{$sidebarWidth} - 4em);
  }
}

@media screen and (max-width: $sm) {
  section.center-vert {
    padding: 1em;
    max-width: 560px;
    min-height: calc(100vh - 60px);
  }

  #album-modal {
    left: 0;
    width: 100vw;
  }

  #contact {
    margin-top: 90px;
  }

  #container {
    margin: 0; 
    width: 100%;
  }

  #mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: $sidebarBackground;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #mobile-header>a {
    margin-left: 1em; 
    text-decoration: none;
  }

  #sidebar-button {
    width: 60px;
    height: 60px;
  }

  #site-sidebar {
    transition: left 250ms ease-in-out, transform 150ms ease;
  }

  #site-sidebar,
  #site-sidebar.close {
    left: -$sidebarWidth;
  }

  #site-sidebar.open {
    left: 0;
  }
}
